<h1>Welcome to Flyaway, <%= @user.email %>!</h1>
<p>
  Thank you for signing up with Flyaway! We’re excited to have you onboard.
  Please click the link below to log in and start exploring:
</p>
<p>
  <a href="<%= @url %>">Log in to your account</a>
</p>
