// app/assets/stylesheets/components/_btn.scss

.btn {
    // display: inline-block;
    padding: var(--space-xxxs) var(--space-m);
    border-radius: var(--border-radius);
    font-weight: bold;
    border: none;
    cursor: pointer;
    // color: var(--color-glint);
    //     background-origin: border-box; // Invisible borders with linear gradients
    // background-color: transparent;
    // border: solid 2px transparent;

    &--primary {
        color: var(--color-white);
        background-color: var(--color-secondary-rotate);
        // background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
        // font-size: var(--font-size-s);
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: var(--color-white);
          filter: saturate(1.4) brightness(115%);
        }
      }
  
    &--secondary {
      // font-size: var(--space-s);
      color: var(--color-light);
      background-color: var(--color-secondary);
  
      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: var(--color-text-header);
        filter: saturate(1.1) brightness(110%);
      }
    }

    &--secondary-alt {
      font-size: var(--space-s);
      color: var(--color-white);
      background-color: var(--color-secondary);
  
      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        // color: var(--color-dark);
        filter: saturate(1.2) brightness(110%);
      }
    }

    &--tertiary {
      // font-family: arial;
      color: var(--color-light);
      background-color: var(--color-tertiary-rotate);
      padding: var(--space-s) var(--space-s);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-s);
      margin-top: var(--space-xs);
      margin-bottom: var(--space-xs);
      float: right;

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: var(--color-light-darker);
        filter: saturate(1.2) brightness(110%);
      }
    }

    &--gray {
      // border: solid 2px gray;
      color: var(--color-text-body);
      background-color: var(--color-light);
  
      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: var(--color-text-header);
        background-color: var(--color-light-darker);
        // border: solid 2px;
        // filter: saturate(1.1) brightness(110%);
      }
    }

    &--select-all {
      background-color: transparent;
      font-size: var(--font-size-xs);
      color: var(--color-secondary);
    }
}