dialog {
    margin-top: 5px;
    z-index: 1000;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--box-shadow);
    padding: var(--space-l);
    // cursor: normal;


}
.login {
    left: auto;
    top: 100%;
    width: 300px;
}

.local {
    left: auto;
    top: 100%;
    
}
    
.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Grey with 50% transparency */
    z-index: 999; /* Ensure it's behind the dialog but above everything else */
}

.dialog-backdrop-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.9); /* Grey with 50% transparency */
    z-index: 999; /* Ensure it's behind the dialog but above everything else */
}

.dialog-backdrop-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-color: rgb(255, 255, 255); /* Grey with 50% transparency */
    z-index: 999; /* Ensure it's behind the dialog but above everything else */
}

.notice-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-size: var(--font-size-l);
    font-weight: bold;
    margin-bottom: var(--space-m);
    color: var(--color-light);
    background-color: var(--color-tertiary);
    min-width: 300px;
    max-width: 500px;  /* Constrain the width */
    max-height: 80%; /* Constrain the height */
    overflow: auto;  /* Allow scrolling if the content overflows */
    padding: var(--space-s); /* Optional: Add padding to make the content inside more readable */
    box-sizing: border-box;
    // z-index: 1000;

    .notice-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: solid 2px var(--color-light);
    }

    h5 {
        padding-bottom: var(--space-xxxs);
    }

    .notice-detail {
        font-family: var(--font-family-title-alt);
        font-size: var(--font-size-s);
        margin-top: var(--space-m);
    }
}

.loading-screen-dialog {
    position: absolute;
    display: flex;
    top: 40%;
    left: 50%;
    // transform: translate(-50%, -50%);
    // border: var(--border-dark);
    box-shadow: none;
    justify-content: center;
    z-index: 1000;
    gap: var(--space-xl);

    .curved-letters {
        // position: absolute;
        // top: -20%;
        text-align: center;
        margin-bottom: var(--space-s);
        font-size: var(--font-size-m);

    }
}

.oops {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-size: var(--font-size-l);
    font-weight: bold;
    margin-bottom: var(--space-m);
    cursor: pointer;
    .oops-title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: var(--space-xxxs);
        border-bottom: solid 2px var(--color-secondary-rotate);
        .close_dialog {
            font-size: var(--font-size-xs);
            color: rgb(109, 109, 109);
        }
    }

    .oops-detail {
        font-size: var(--font-size-s);
        color: var(--color-text-body);
        margin-top: var(--space-m);
    }
}