.search-result {
    display: flex;
    flex-direction: column;
    // gap: var(--space-s);
    // background-color: var(--color-secondary);
}

.flight-offer {
    // padding: var(--space-s);
    border: var(--border-dark);
}