nav {
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-s);

  ul {
      font-size: var(--font-size-s);
      list-style: none;
      display: flex;
      justify-content: flex-end;

    li {
      position: relative;
      // border: var(--border-dark);
      padding-right: var(--space-xxxs);
      // padding-top: var(--space-xl);
      
      a {
        display: block;
        padding: var(--space-xs);
        padding-left: var(--space-m);
        padding-right: var(--space-m);
        border-radius: var(--border-radius);
        background-color: var(--color-light);        

        &:hover {
          font-weight: bold;
        }
           
        &.active {
          font-weight: bold;
          color: var(--color-light);
          background-color: var(--color-secondary-rotate);
        }
        
        // &:hover {
        //     color: var(--color-primary);
        // }
        //  &::before {
        //    transition: 400ms;
        //    height: 4px;
        //    content: "";
        //    position: absolute;
        //    background-color: var(--color-secondary);
        //    width: 0%;
        //    bottom: 0px;   
        // }

        // &:hover::before{
        //   width: 80%;
        // }
      } 
    }
  }

//   @media (max-width: 680px) {
//     ul {
//       font-size: var(--font-size-xs);
//       list-style: none;
//       display: flex;
//       justify-content: space-evenly;
//     li {
      
//       a {
//         display: block;
//         padding: 0px 5px 0px 0px;
//       }
//     }
//   }
// }
}
