.search-flight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-xxs);
  position: relative;
  padding: var(--space-s);

  label {
    padding-left: var(--space-xxxs);
    font-weight: bold;
    font-size: var(--font-size-xs);
  }
  
  .search-item {
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--border-radius);
  }

  input {
    width: 100%;
    padding: var(--space-xxxs);
    font-size: var(--font-size-s);
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  input:focus {
    outline: none;
  }

  .suggestions-list {
    list-style: none;
    position: absolute;
    margin-top: var(--space-xxxs);
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 180%;
  }

  .input-wrapper {
    position: relative;
  }
  
  .loading-indicator {
    // position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: gray;
  }

  .suggestion-item {
    display: flex;
    gap: var(--space-s);
    padding: var(--space-s);
    cursor: pointer;
    
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .loading-spinner {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    animation: spin 1s linear infinite;
    pointer-events: none; /* Ensure clicks pass through to the input field */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .error {
    color: red;
    margin-top: 8px;
  }


}
