.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
  }

.user-local {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: var(--space-xxs);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    cursor: pointer;
    position: relative;

    .user-local-item {
        font-size: var(--font-size-xxs);
    }
    .user-local-country-flag {
        width: 20px;
    }
}
.user-local:hover {
    color: var(--color-light);
    background-color: var(--color-secondary-rotate);
}

.user-login {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxxs);
    justify-content: center;
    align-items: center;
    padding: var(--space-xxs);
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: var(--color-secondary-rotate);
        .login-icon {
            filter: brightness(0) invert(1); // Change color effect on hover
        }
    }
}