*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus{
  // outline: none;
  // border: none;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  // background-color: #d1f5fa;
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

label {
  padding-left: var(--space-xxxs);
  font-weight: bold;
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius);
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: #007BFF; /* Changes checkbox color in modern browsers */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: var(--color-light);
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary-rotate);
  }
}

p {
  align-self: end;
  font-size: var(--font-size-xs);
  &.large {
    font-size: var(--font-size-m);
  }
  &.medium {
    font-size: var(--font-size-s);
  }
  &.medium-small {
    font-size: var(--font-size-xs);
  }
  &.small {
    font-size: var(--font-size-xxs);
  }
}