:root {
    // Simple fonts
    --font-family-sans: 'Poppins', system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-title: 'Lilita One';
    --font-family-description: 'Playpen Sans';

    // Classical line heights
    --line-height-headers: 1.1;
    --line-height-body:    1.5;
    // --line-height-navbar:    3;

    // Classical and robust font sizes system
    --font-size-xxxs: 0.55rem;
    --font-size-xxs: 0.625rem;  //10px
    --font-size-xs: 0.75rem;   //12px
    --font-size-s: 0.875rem;    //14px
    --font-size-m: 1rem;       // 16px
    --font-size-l: 1.125rem;   // 18px
    --font-size-xl: 1.25rem;   // 20px
    --font-size-xxl: 1.5rem;   // 24px
    --font-size-xxxl: 2rem;    // 32px
    --font-size-xxxxl: 2.5rem; // 40px

    // Three different text colors
    --color-text-header: hsl(0, 1%, 16%);
    --color-text-body:   #433d3d;
    --color-text-muted:  #f3e3e3;
    --color-text-alert:  hsl(0, 100%, 50%);   

    // Classical and robust spacing system
    --space-xxxs: 0.25rem; // 4px
    --space-xxs: 0.375rem; // 6px
    --space-xs: 0.5rem;    // 8px
    --space-s: 0.75rem;    // 12px
    --space-m: 1rem;       // 16px
    --space-l: 1.5rem;     // 24px
    --space-xl: 2rem;      // 32px
    --space-xxl: 2.5rem;   // 40px
    --space-xxxl: 3rem;    // 48px
    --space-xxxxl: 4rem;   // 64px

    // Application colors
    --color-primary:          hsl(0, 0%, 5%);
    --color-secondary:        #639cd9;
    --color-secondary-rotate: #516091;
    --color-tertiary:         #a62035;
    --color-tertiary-rotate:  #d92f49;
    --color-error:            hsl(0, 100%, 50%);   
    --color-confirmed:        hsl(147, 100%, 50%); 

    // Neutral colors
    --color-white:      hsl(0, 0%, 100%);
    --color-background: hsl(30, 50%, 98%);
    --color-light:      rgb(238, 236, 236);
    --color-light-darker:rgb(214, 213, 213);
    --color-dark:       hsl(0, 0%, 7%);


    // Border
    --border: solid 2px var(--color-light);
    --border-dark: solid 1px var(--color-dark);
    --border-light: solid 2px var(--color-white);
    --border-radius: 0.275rem;
    --border-radius-more: 0.575rem;
    --border-radius-round: 3rem;

    // Shadows
    --box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(245, 238, 238, 0.086),
            0 100px 80px rgba(255, 253, 253, 0.12);

    --box-shadow-top:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(245, 238, 238, 0.086),
        0 100px 80px rgba(255, 253, 253, 0.12),
        0 -3px 8px rgba(80, 80, 80, 0.2); /* Top shadow */
              
              
    --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
    --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
    --shadow-small-comments:  0px 2px 0px hsl(0 0% 0% / 0.1);
    --shadow-small-profile: 0.1px 1px 1px 1px hsla(0, 100%, 0%, 0.3); 
}