.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    min-height: 100vh;
  .c1 {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .c2 {
    display: flex;
    justify-content: center; /* Align content at the start horizontally */
    align-items: flex-start;
    background-color: #d5e9f7;
    flex-grow: 1; 
  }
  .c3 {
    display: flex;
    justify-content: center;
    background-color: white;
    // margin-top: var(--space-m);
  }
}