.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: var(--space-l);
    padding-right: var(--space-m);
    padding-left: var(--space-m);

    @include media(tabletAndUp) {
        padding-right: var(--space-m);
        padding-left: var(--space-m);
        max-width: 70rem;
    }
}