.header {
  display: flex;
  flex-direction: column;
  // background-color: var(--color-secondary);

  .header-bar {
    display: flex;
    justify-content: space-between;
    margin-left: -15px;

  }
  .nav-bar {
    display: flex;
    justify-content: start;
  }

  .search-bar {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary-rotate);
    // margin-left: -100%; // Extend to the left
    // margin-right: -100%; // Extend to the right
  }
}
